html {
  background-color: #fdf6e3;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header, footer {
  font-size: 1.5rem;
}

ul nav {
  font-family: sans-serif;
}

.logo {
  text-transform: uppercase;
}

.wrapper {
  background-color: #eee8d5;
}

#contents, #favs, #facts, #types {
  color: #93a1a1;
}

.wrapper > .dfn {
  background-color: #b58900;
}

.dfn p + .dfn strong {
  color: #fff;
}

a {
  background-color: #719e07;
}

.no-highlight {
  background-color: inherit;
}

[rel="external"] {
  background-color: #2694d8;
}

ol li:first-child {
  color: #719e47;
}

ol li:last-child {
  color: #2aa198;
}

.types li:nth-child (odd) {
  background-color: #657ba3;
}

.types li:nth-child(even) {
  background-color: #586e75;
}
